// Override default variables before the import
$main_color: #000;
$dominant_color: #F7F8F3;
$accent_color: #F0A500;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: $dominant_color;
  background: $main_color;
}

a {
  color: $dominant_color;
  text-decoration: none;

  &:hover{
    color: $accent_color;
    text-decoration: none;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: $main_color;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 0;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar {
  padding: 0;
  left: 50%;
  transform: translatex(-50%);

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  li {
    position: relative;
    padding: 10px 45px 10px 45px;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }

  ul > {
    li > {
      a {
        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 4px;
          bottom: -5px;
          left: 20%;
          background-color: $accent_color;
          visibility: hidden;
          transition: all 0.3s ease-in-out 0s;
        }
      }
    }
  }

  .active {
    color: $accent_color;
      &:before {
        visibility: visible;
        width: 60%;
      }
  }
  
  a {
    &:hover, .active {
      &:before {
        visibility: visible;
        width: 60%;
      }
    }
  }


}

/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
  display: none;
}

.navbar-mobile {
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  ul {
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar-mobile {    
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-size: cover;

  .container {
    padding-top: 70px;
    position: relative;
  }

  h4 {
    font-weight: 900;
    line-height: 56px;
    color: $accent_color;
    letter-spacing: 0.5em;
  }

  h1 {
    color: $dominant_color;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 56px;
  }

  h5 {
    color: $dominant_color;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 70px;
  }

  .socmed-component {
    margin-right: 30px;
    line-height: 24px;
  }

  %test {
    position: absolute;
    content: '';
    transition: all .5s;
  }
  
  %hover-color {
    color: $accent_color;
    background: $main_color;
    border: 1px solid $accent_color;
  }

  .btn-works { 
    transform: translate(0%, 30%);
    transition: all .5s;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 40px;
    margin-top: 30px;
    color: $main_color;
    background: $accent_color;
  
    &::before {
      @extend %test;
      bottom: 45px;
      height: 5px;
      width: 100%;
      left: -2px;
      transform: skewX(45deg);
      background-color: darken($accent_color, 30%);
    }
  
    &::after {
      @extend %test;
      left: -5px;
      height: 100%;
      width: 5px;
      bottom: 2px;
      transform: skewY(45deg);
      background-color: darken($accent_color, 40%);
    }
  
    &:active {
      margin-left: -0.05px;
      margin-top: -0.05px;
      &::before {
        bottom: 45px;
        height: 1px;
        left: -1px;
      }
      
      &::after {
        width: 1px;
        left: -1px;
        bottom: 1px;
      }	
    }

    &:hover {
      @extend %hover-color;
        &::before {
          @extend %hover-color
        }
        &::after {
          @extend %hover-color
        }
    }
  }
  
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
    .container {
      padding-top: 50px;
    }

    h4 {
      font-size: medium;
    }
  
    h1 {
      font-size: small;
    }
  
    h5 {
      font-size: medium;
    }
  }

  
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }

    h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
  width: 100%;
  height: 100vh;
  background-size: cover;
  text-align: right;

  .container {
    padding-top: 50px;
    position: relative;
  }  

  h4 {
    font-weight: 900;
    line-height: 56px;
    color: $accent_color;
    letter-spacing: 0.5em;
  }

  h1 {
    color: $dominant_color;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.3em;
    line-height: 56px;
    font-size: 8vw;
    text-decoration: underline $accent_color;
  }

  h5 {
    color: $dominant_color;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: 70px;
  }

  p {
    letter-spacing: 0.25rem;
    line-height: 30px;
  }



}

@media (max-width: 992px) {
  #about {

    p {
      font-size: small;
      line-height: 25px;
    }
  }
}